@font-face {
    font-family: "font_chargeX";
    src: url('fonts/SecularOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font_chargeX';
}




.hero {
    display: flex;
    justify-content: center;
}

.hero img {
    display: block;
    width: 55%;
    margin: 0 auto;
}

.stick {
    position: fixed;
    margin: 10rem 0;
    z-index: 100;
}

.about {
    padding: 6rem 0;
    margin-top: 2rem;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/car1.jpg');
}

.about p {
    width: 50%;
    margin: 0 auto;
    color: #ffff;
    font-size: 2rem;
    direction: rtl;
    line-height: 3rem;
    font-family: 'font_chargeX';
}

.location {
    background: url('images/location\ back.jpeg') no-repeat center center fixed;
    background-size: 100%;
    margin-top: 2rem;
    font-family: 'font_chargeX';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
}

.location ul {
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
}

.location h1 {
    text-align: center;
    font-size: 3rem;
}

.location img {
    display: block;
    width: 5%;
    margin: 0 auto;
}

.content {
    background: rgba(255, 255, 255, 0.5);
    padding: 4rem 0;
}

.contact_us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
}

.contact_us form {
    display: block;
    direction: rtl;
    flex: 60%;
    margin: 1.5rem 10%;

}

.contact_us form input {
    min-width: 270px;
    padding: .4rem 0;
    border-radius: .5rem;
}

.contact_us form textarea {
    resize: none;
    width: 270px;
    border-radius: .5rem;
    border: 2px solid black;
}

form label {
    margin: 0;
}

.contact {
    font-family: 'font_chargeX';
    flex: 40%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact h1 {
    font-size: 2rem;
    /* margin-bottom: 2rem; */
}

.contact img {
    display: block;
    width: 100%;
    border-radius: 1rem;
    /* margin: 1rem auto; */
}

.contact div {
    margin: 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.phone_btn,
.submit {
    text-decoration: none;
    color: #ffff;
    background-color: gray;
    font-size: 1.5rem;
    padding: 1rem;
    border: 3px solid #91F638;
    border-radius: 1rem;
    min-width: 250px;
    text-align: center;
}


.phone_btn:hover,
.submit:hover {
    background-color: darkgray;
}

footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem 0;
    background-color: gray;
    color: #ffff;
    width: 100%;
    text-decoration: center;
    font-family: 'font_chargeX';
}

.stick img {
    width: 80px;
}

@media screen and (max-width:560px) {
    .about p {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 80%;
    }

    .stick img {
        width: 60px;
    }

    .location {
        background-attachment: local;
    }

    .location img {
        width: 15%;
    }

    .contact img {
        width: 20%;
    }

    .contact_us {
        flex-direction: column;
    }
}