* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "font_chargeX";
    src: url('fonts/SecularOne-Regular.ttf');
}


.hero {
    display: flex;
    justify-content: center;
}

.hero img {
    display: block;
    width: 55%;
    margin: 0 auto;
}

.stick {
    position: fixed;
    margin: 10rem 0;
    z-index: 100;
}

.about {
    padding: 6rem 0;
    margin-top: 2rem;
    text-align: center;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/car1.jpg');
}

.about p {
    width: 50%;
    margin: 0 auto;
    color: #ffff;
    font-size: 2rem;
    direction: rtl;
    line-height: 3rem;
    font-family: 'font_chargeX';
}

.location {
    background: url('images//location\ background.jpeg') no-repeat center center fixed;
    margin-top: 2rem;
    font-family: 'font_chargeX';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    backdrop-filter: blur(20px);
}

.location ul {
    font-size: 1.5rem;
    list-style: none;
    text-align: center;
}

.location h1 {
    text-align: center;
    font-size: 3rem;
}

.location img {
    display: block;
    width: 5%;
    margin: 0 auto;
}

.content {
    backdrop-filter: blur(6px);
    padding: 4rem 0;
}



.contact {
    font-family: 'font_chargeX';
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.contact h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}



.contact img {
    display: block;
    width: 10%;
    margin: 1rem auto;
}

.contact div {
    margin: 3rem 0;
}

.phone_btn {
    text-decoration: none;
    color: #ffff;
    background-color: gray;
    font-size: 1.5rem;
    padding: 1rem;
    border: 3px solid #91F638;
}

footer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.copyright {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    padding: 2rem 0;
    background-color: gray;
    color: #ffff;
    width: 100%;
    text-decoration: center;
    font-family: 'font_chargeX';
}

.stick img {
    width: 80px;
}

@media screen and (max-width:560px) {
    .about p {
        font-size: 1rem;
    }

    .stick img {
        width: 60px;
    }

    .location img {
        width: 15%;
    }

    .contact img {
        width: 20%;
    }
}